.Shop {

    /* w100p */
    width: 100%;

}

@media screen and ( min-width: 768px ) {
    .Shop {
        /* dg */
        display: grid;
        /* gtc */
        grid-template-columns: 10rem 1fr;
    }
}

.Products {

    /* df */
    display: flex;
    /* fwr */
    flex-wrap: wrap;
    /* jcsev */
    justify-content: space-evenly;

}

.name {
    padding: 0.5rem;
}